# Settings

In [1]:
IN_FILENAME = "../data/processed/filtered.xlsx"
OUT_FILENAME = "../data/processed/filtered-nfv.xlsx"

SEPARATOR = "\n"

### adjustments

In [2]:
import re

fmt = re.search("[.][a-z]+$", OUT_FILENAME)
if fmt == None: raise Exception("have to choose a format (xlsx | csv)")
fmt = fmt.group()[1:]

# Prevs

### Imports

In [3]:
import pandas as pd
import numpy as np

# Main

In [4]:
data = pd.read_excel(IN_FILENAME)

In [5]:
df = data.drop("isFamiliar", axis=1)

In [6]:
df.head()

   TD/TA 2022  WC/TA 2022  EBITDA/TA 2022  ln(TA) 2022  Z Cat 2024
0    0.625639    0.191468        0.030919    19.710178           1
1    0.338930    0.373128        0.096122    18.584048           0
2    0.140025    0.292908        0.178364    18.660925           0
3    0.221861    0.370248        0.090879    18.385202           0
4    0.635556    0.292989        0.064907    17.903484           1

### save

In [7]:
match fmt:
    case "xlsx": df.to_excel(OUT_FILENAME, index=False)
    case "csv": df.to_csv(OUT_FILENAME, index=False)
    case _: raise Exception("Stop touching things!!")