# Settings

In [1]:
SEPARATOR='\n'

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("../data/original/joined.xlsx")
# data.drop(data.columns[len(data.columns)-1], axis=1, inplace=True)
# data.drop(columns=["Nombre.1", "Familiar (1) o no (0)"], inplace=True)

In [4]:
list(data.columns)

['Nombre',
 'Nombre.1',
 'EBIT\nEUR\nÚlt. año disp.',
 'EBIT\nEUR\n2024',
 'EBIT\nEUR\n2022',
 'EBITDA\nEUR\nÚlt. año disp.',
 'EBITDA\nEUR\n2024',
 'EBITDA\nEUR\n2022',
 'Accionista - Tipo',
 'Forma jurídica detallada',
 'Accionista - % directo',
 'Activo corriente\nEUR\nÚlt. año disp.',
 'Activo corriente\nEUR\n2024',
 'Activo corriente\nEUR\n2022',
 'Activo no corriente\nEUR\nÚlt. año disp.',
 'Activo no corriente\nEUR\n2024',
 'Activo no corriente\nEUR\n2022',
 'Pasivo corriente\nEUR\nÚlt. año disp.',
 'Pasivo corriente\nEUR\n2024',
 'Pasivo corriente\nEUR\n2022',
 'Pasivo no corriente\nEUR\nÚlt. año disp.',
 'Pasivo no corriente\nEUR\n2024',
 'Pasivo no corriente\nEUR\n2022',
 'Importe neto de la cifra de negocios\nEUR\nÚlt. año disp.',
 'Importe neto de la cifra de negocios\nEUR\n2024',
 'Importe neto de la cifra de negocios\nEUR\n2022',
 'Ganancias acumuladas\nEUR\nÚlt. año disp.',
 'Ganancias acumuladas\nEUR\n2024',
 'Ganancias acumuladas\nEUR\n2022',
 'Resultado del Ejercicio\nEUR\nÚlt. año disp.',
 'Resultado del Ejercicio\nEUR\n2024',
 'Resultado del Ejercicio\nEUR\n2022',
 'Dividendos (-)\nEUR\nÚlt. año disp.',
 'Dividendos (-)\nEUR\n2024',
 'Dividendos (-)\nEUR\n2022',
 'Total activo\nEUR\nÚlt. año disp.',
 'Total activo\nEUR\n2024',
 'Total activo\nEUR\n2022',
 'Patrimonio neto\nEUR\nÚlt. año disp.',
 'Patrimonio neto\nEUR\n2024',
 'Patrimonio neto\nEUR\n2022',
 'Indicator de\nIndependencia BvD']

In [5]:
print(len(data))
data.head()

870

,Nombre,Nombre.1,EBIT\nEUR\nÚlt. año disp.,EBIT\nEUR\n2024,EBIT\nEUR\n2022,EBITDA\nEUR\nÚlt. año disp.,EBITDA\nEUR\n2024,EBITDA\nEUR\n2022,Accionista - Tipo,Forma jurídica detallada,...,Dividendos (-)\nEUR\nÚlt. año disp.,Dividendos (-)\nEUR\n2024,Dividendos (-)\nEUR\n2022,Total activo\nEUR\nÚlt. año disp.,Total activo\nEUR\n2024,Total activo\nEUR\n2022,Patrimonio neto\nEUR\nÚlt. año disp.,Patrimonio neto\nEUR\n2024,Patrimonio neto\nEUR\n2022,Indicator de\nIndependencia BvD
0,CODORNIU SA,CODORNIU SA,12006425,12006425,5870519,20600580,20600580,11226736,Empresa\nFondos mutuos & de pensiones/Nominee/...,Sociedad anónima,...,n.d.,n.d.,n.d.,3.710083e+08,3.710083e+08,3.630959e+08,1.408246e+08,1.408246e+08,1.359290e+08,D
1,BODEGAS FAUSTINO SL,BODEGAS FAUSTINO SL,7763514.86,7763514.86,8959747,10225088.39,10225088.39,11318021,Empresa\nEmpresa,Sociedad limitada,...,-105014,-105014,-9000000,1.042030e+08,1.042030e+08,1.177469e+08,7.651852e+07,7.651852e+07,7.783894e+07,D
2,BODEGAS VEGA SICILIA SA,BODEGAS VEGA SICILIA SA,31240000,31240000,20665000,33077000,33077000,22680000,Empresa\nEmpresa,Sociedad anónima,...,-40000000,-40000000,n.d.,1.264330e+08,1.264330e+08,1.271560e+08,1.147470e+08,1.147470e+08,1.093510e+08,D
3,PAGOS DEL REY SL,PAGOS DEL REY SL,3336769,3336769,6229820,5876207,5876207,8771141,Empresa,Sociedad limitada,...,n.d.,n.d.,n.d.,9.869332e+07,9.869332e+07,9.651429e+07,8.250749e+07,8.250749e+07,7.510149e+07,D
4,BODEGAS MARTIN CODAX SAU,BODEGAS MARTIN CODAX SAU,2329233.35,2329233.35,2686110.94,3524191.73,3524191.73,3869667.08,Empresa,Sociedad anónima unipersonal,...,n.d.,n.d.,n.d.,6.858963e+07,6.858963e+07,5.961892e+07,2.480249e+07,2.480249e+07,2.172777e+07,D

In [6]:
#df.loc[df.shape[0]] =[*row._asdict().values()]

#		#df.loc[df.shape[0]-1] = 
#		print(pd.DataFrame([df.iloc[-1]]).shape)
#		print(pd.DataFrame([[*row._asdict().values()]], columns=df.columns).shape)
#		tmp = pd.concat([pd.DataFrame([df.iloc[-1]]), pd.DataFrame([[*row._asdict().values()]], columns=df.columns)], ignore_index=True)
#		tmp = pd.DataFrame([tmp.apply(lambda col:  col ), axis=0)])

In [7]:
df = pd.DataFrame(columns=data.columns)
tmp = []


for row in data.iloc[::-1].itertuples(index=False):

	tmp.append([*row._asdict().values()])

	if not pd.isna(row.Nombre) :
		
		tmp = pd.DataFrame(tmp[::-1])

		tmp = pd.DataFrame([tmp.apply(lambda col: SEPARATOR.join([str(elm) for elm in col.dropna().tolist()]))])
		#tmp = pd.DataFrame([[ (None  if len(col.tolist()[0]) == 0  else (col.tolist()[0][0] if len(col.tolist()[0]) == 1 else col.tolist()[0])) for _, col in tmp.items()]])
		df.loc[df.shape[0]] = tmp.iloc[0].tolist()

		tmp = []
	

df = df.iloc[::-1].reset_index(drop=True)
df.head()

,Nombre,Nombre.1,EBIT\nEUR\nÚlt. año disp.,EBIT\nEUR\n2024,EBIT\nEUR\n2022,EBITDA\nEUR\nÚlt. año disp.,EBITDA\nEUR\n2024,EBITDA\nEUR\n2022,Accionista - Tipo,Forma jurídica detallada,...,Dividendos (-)\nEUR\nÚlt. año disp.,Dividendos (-)\nEUR\n2024,Dividendos (-)\nEUR\n2022,Total activo\nEUR\nÚlt. año disp.,Total activo\nEUR\n2024,Total activo\nEUR\n2022,Patrimonio neto\nEUR\nÚlt. año disp.,Patrimonio neto\nEUR\n2024,Patrimonio neto\nEUR\n2022,Indicator de\nIndependencia BvD
0,CODORNIU SA,CODORNIU SA,12006425,12006425,5870519,20600580,20600580,11226736,Empresa\nFondos mutuos & de pensiones/Nominee/...,Sociedad anónima,...,n.d.,n.d.,n.d.,371008281.0,371008281.0,363095903.0,140824632.0,140824632.0,135928959.0,D
1,BODEGAS FAUSTINO SL,BODEGAS FAUSTINO SL,7763514.86,7763514.86,8959747,10225088.39,10225088.39,11318021,Empresa\nEmpresa,Sociedad limitada,...,-105014,-105014,-9000000,104202968.14,104202968.14,117746940.0,76518524.0,76518524.0,77838937.0,D
2,BODEGAS VEGA SICILIA SA,BODEGAS VEGA SICILIA SA,31240000,31240000,20665000,33077000,33077000,22680000,Empresa\nEmpresa,Sociedad anónima,...,-40000000,-40000000,n.d.,126433000.0,126433000.0,127156000.0,114747000.0,114747000.0,109351000.0,D
3,PAGOS DEL REY SL,PAGOS DEL REY SL,3336769,3336769,6229820,5876207,5876207,8771141,Empresa,Sociedad limitada,...,n.d.,n.d.,n.d.,98693317.0,98693317.0,96514293.0,82507486.0,82507486.0,75101493.0,D
4,BODEGAS MARTIN CODAX SAU,BODEGAS MARTIN CODAX SAU,2329233.35,2329233.35,2686110.94,3524191.73,3524191.73,3869667.08,Empresa,Sociedad anónima unipersonal,...,n.d.,n.d.,n.d.,68589630.47,68589630.47,59618923.89,24802485.67,24802485.67,21727767.04,D

In [8]:
data[data["Nombre"] == "FREIXENET SA"]

Empty DataFrame
Columns: [Nombre, Nombre.1, EBIT
EUR
Últ. año disp., EBIT
EUR
2024, EBIT
EUR
2022, EBITDA
EUR
Últ. año disp., EBITDA
EUR
2024, EBITDA
EUR
2022, Accionista - Tipo, Forma jurídica detallada, Accionista - % directo, Activo corriente
EUR
Últ. año disp., Activo corriente
EUR
2024, Activo corriente
EUR
2022, Activo no corriente
EUR
Últ. año disp., Activo no corriente
EUR
2024, Activo no corriente
EUR
2022, Pasivo corriente
EUR
Últ. año disp., Pasivo corriente
EUR
2024, Pasivo corriente
EUR
2022, Pasivo no corriente
EUR
Últ. año disp., Pasivo no corriente
EUR
2024, Pasivo no corriente
EUR
2022, Importe neto de la cifra de negocios
EUR
Últ. año disp., Importe neto de la cifra de negocios
EUR
2024, Importe neto de la cifra de negocios
EUR
2022, Ganancias acumuladas
EUR
Últ. año disp., Ganancias acumuladas
EUR
2024, Ganancias acumuladas
EUR
2022, Resultado del Ejercicio
EUR
Últ. año disp., Resultado del Ejercicio
EUR
2024, Resultado del Ejercicio
EUR
2022, Dividendos (-)
EUR
Últ. año disp., Dividendos (-)
EUR
2024, Dividendos (-)
EUR
2022, Total activo
EUR
Últ. año disp., Total activo
EUR
2024, Total activo
EUR
2022, Patrimonio neto
EUR
Últ. año disp., Patrimonio neto
EUR
2024, Patrimonio neto
EUR
2022, Indicator de
Independencia BvD]
Index: []

[0 rows x 42 columns]

In [9]:
print(df.shape)
df.head()

(870, 42)

,Nombre,Nombre.1,EBIT\nEUR\nÚlt. año disp.,EBIT\nEUR\n2024,EBIT\nEUR\n2022,EBITDA\nEUR\nÚlt. año disp.,EBITDA\nEUR\n2024,EBITDA\nEUR\n2022,Accionista - Tipo,Forma jurídica detallada,...,Dividendos (-)\nEUR\nÚlt. año disp.,Dividendos (-)\nEUR\n2024,Dividendos (-)\nEUR\n2022,Total activo\nEUR\nÚlt. año disp.,Total activo\nEUR\n2024,Total activo\nEUR\n2022,Patrimonio neto\nEUR\nÚlt. año disp.,Patrimonio neto\nEUR\n2024,Patrimonio neto\nEUR\n2022,Indicator de\nIndependencia BvD
0,CODORNIU SA,CODORNIU SA,12006425,12006425,5870519,20600580,20600580,11226736,Empresa\nFondos mutuos & de pensiones/Nominee/...,Sociedad anónima,...,n.d.,n.d.,n.d.,371008281.0,371008281.0,363095903.0,140824632.0,140824632.0,135928959.0,D
1,BODEGAS FAUSTINO SL,BODEGAS FAUSTINO SL,7763514.86,7763514.86,8959747,10225088.39,10225088.39,11318021,Empresa\nEmpresa,Sociedad limitada,...,-105014,-105014,-9000000,104202968.14,104202968.14,117746940.0,76518524.0,76518524.0,77838937.0,D
2,BODEGAS VEGA SICILIA SA,BODEGAS VEGA SICILIA SA,31240000,31240000,20665000,33077000,33077000,22680000,Empresa\nEmpresa,Sociedad anónima,...,-40000000,-40000000,n.d.,126433000.0,126433000.0,127156000.0,114747000.0,114747000.0,109351000.0,D
3,PAGOS DEL REY SL,PAGOS DEL REY SL,3336769,3336769,6229820,5876207,5876207,8771141,Empresa,Sociedad limitada,...,n.d.,n.d.,n.d.,98693317.0,98693317.0,96514293.0,82507486.0,82507486.0,75101493.0,D
4,BODEGAS MARTIN CODAX SAU,BODEGAS MARTIN CODAX SAU,2329233.35,2329233.35,2686110.94,3524191.73,3524191.73,3869667.08,Empresa,Sociedad anónima unipersonal,...,n.d.,n.d.,n.d.,68589630.47,68589630.47,59618923.89,24802485.67,24802485.67,21727767.04,D

In [10]:
df[df.Nombre == "CODORNIU SA"]

,Nombre,Nombre.1,EBIT\nEUR\nÚlt. año disp.,EBIT\nEUR\n2024,EBIT\nEUR\n2022,EBITDA\nEUR\nÚlt. año disp.,EBITDA\nEUR\n2024,EBITDA\nEUR\n2022,Accionista - Tipo,Forma jurídica detallada,...,Dividendos (-)\nEUR\nÚlt. año disp.,Dividendos (-)\nEUR\n2024,Dividendos (-)\nEUR\n2022,Total activo\nEUR\nÚlt. año disp.,Total activo\nEUR\n2024,Total activo\nEUR\n2022,Patrimonio neto\nEUR\nÚlt. año disp.,Patrimonio neto\nEUR\n2024,Patrimonio neto\nEUR\n2022,Indicator de\nIndependencia BvD
0,CODORNIU SA,CODORNIU SA,12006425,12006425,5870519,20600580,20600580,11226736,Empresa\nFondos mutuos & de pensiones/Nominee/...,Sociedad anónima,...,n.d.,n.d.,n.d.,371008281.0,371008281.0,363095903.0,140824632.0,140824632.0,135928959.0,D

In [11]:
df.to_excel("../data/processed/formatted.xlsx", index=False)